@{
    ViewData["Title"] = "Home Page";
}

<div dir="rtl" class="" style="background-color:#dbe3f1">
    <h2 class="text-center fw-bold pt-5">آج کی حدیث</h2>
    <div class="row d-flex justify-content-evenly">
        <div class="col-md-8 bg-white d-flex border-top border-dark border-4" style="border-radius:5px;">
        <div class="col-6 col-md-6">
                <p class="p-2">
                    ‌صحيح البخاري: كِتَابُ بَدْءِ الوَحْيِ (بَابٌ: كَيْفَ كَانَ بَدْءُ الوَحْيِ إِلَى رَسُولِ اللَّهِ صَلَّى اللهُ عَلَيْهِ وَسَلَّمَ)
                    حکم : أحاديث صحيح البخاريّ كلّها صحيحة

                    ترجمة الباب: وَقَوْلِ اللَّهِ عَزَّوَجَلَّ ﴿إِنَّا أَوْحَيْنَا إِلَيْكَ كَمَا أَوْحَيْنَا إِلَى نُوحٍ وَالنَّبِيِّينَ مِنْ بَعْدِهِ﴾ [النساء: 163]
                    1   حَدَّثَنَا الحُمَيْدِيُّ عَبْدُ اللَّهِ بْنُ الزُّبَيْرِ، قَالَ: حَدَّثَنَا سُفْيَانُ، قَالَ: حَدَّثَنَا يَحْيَى بْنُ سَعِيدٍ الأَنْصَارِيُّ، قَالَ: أَخْبَرَنِي مُحَمَّدُ بْنُ إِبْرَاهِيمَ التَّيْمِيُّ، أَنَّهُ سَمِعَ عَلْقَمَةَ بْنَ وَقَّاصٍ اللَّيْثِيَّ، يَقُولُ: سَمِعْتُ عُمَرَ بْن....
                </p>
            </div>
        <div class="col-6 col-md-6">
           
                <p class="p-2">
                    صحیح بخاری: کتاب: وحی کے بیان میں (باب: اس بارے میں کہ رسول اللہﷺ پر وحی کی ابتداء کیسے ہوئی)
                    مترجم: ١. شیخ الحدیث حافظ عبد الستار حماد (دار السلام)

                    ترجمۃ الباب:اور اللہ عزوجل کا یہ فرمان کہ ’’ہم نے بلاشبہ (اے محمدﷺ!) آپ کی طرف وحی کا نزول اسی طرح کیا ہے جس طرح حضرت نوحؑ اور ان کے بعد آنے والے تمام نبیوں کی طرف کیا تھا۔‘‘
                    1  حضرت علقمہ بن وقاص لیثی کہتے ہیں کہ میں نے حضرت عمر بن خطاب ؓ کو منبر پر یہ کہتے سنا کہ میں نے رسول اللہ ﷺ سے سنا، آپ فرما رہے تھے: ’’اعمال کا مدار نیتوں پر ہے اور ہر آدمی کو اس کی نیت ہی کے مطابق پھل ملے گا، پھر جس شخص نے دنیا کمانے یا کسی عورت سے شادی رچانے کے لیے وطن چھ
                </p>
        </div>
            
        </div>
        <a class="text-center text-success" href="#">مزید تفصیل</a>
    </div>
</div>
