html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}
#headerBanner{
   
    background-image:url(../image/banner2.jpg);
    background-size:auto 100%;
    background-position:center;
    background-repeat:no-repeat;
    background-color: #17202f;
    height:320px !important;
}